@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Search";
}
@model SocialMediaWisLam.Controllers.SearchController.ViewModel

<main class="container mx-auto w-11/12 md:w-6/12">

    <div class=" rounded-lg shadow-lg bg-base-200 mb-8 p-3 flex flex-col">
        <div class="font-semibold">Anyone</div>

        @foreach (var friend in Model.Friends)
        {
            var curProfile = (friend.Profile1.Id != Model.UserId) ? friend.Profile1 : friend.Profile2;
            
            <div class="flex justify-between my-3 mb-3 rounded-lg shadow-md">
                <div class="flex justify-items-center p-3">
                    <a class="w-12 h-12 rounded-full">
                        <img class="w-12 h-12 rounded-full" src="@curProfile.PictureUrl" alt="avatar" />
                    </a>
                    <div class="flex w-24 md:w-36 flex-col ml-3">
                        <div class="font-semibold">@curProfile.FirstName @curProfile.LastName</div>
                        <div class="font-light">Can Tho</div>
                    </div>
                </div>
                <div class="flex flex-col justify-center pr-3">
                    @if(friend.AreFriend == 1) {
                        <form asp-controller="Friends" asp-action="AddFriend" method="post">
                            <input type="hidden" value="@curProfile.Id" name="UserId2" />
                            <input type="hidden" value="@Model.UserId" name="UserId1" />
                            <input type="hidden" value="0" name="AreFriend" />
                            <input class="btn" type="submit" value="Unfriend" />
                        </form>
                    } else if (friend.AreFriend == 2 && friend.Profile1.Id == Model.UserId)
                    {
                        <form asp-controller="Friends" asp-action="AddFriend" method="post">
                            <input type="hidden" value="@curProfile.Id" name="UserId2" />
                            <input type="hidden" value="@Model.UserId" name="UserId1" />
                            <input type="hidden" value="0" name="AreFriend" />
                            <input class="btn" type="submit" value="Cancel" />
                        </form>
                        
                    } else
                    {
                        <form asp-controller="Friends" asp-action="AddFriend" method="post">
                            <input type="hidden" value="@curProfile.Id" name="UserId2" />
                            <input type="hidden" value="@Model.UserId" name="UserId1" />
                            <input type="hidden" value="1" name="AreFriend" />
                            <input class="btn" type="submit" value="Confirm" />
                        </form>
                        <form asp-controller="Friends" asp-action="AddFriend" method="post">
                            <input type="hidden" value="@curProfile.Id" name="UserId2" />
                            <input type="hidden" value="@Model.UserId" name="UserId1" />
                            <input type="hidden" value="0" name="AreFriend" />
                            <input class="btn" type="submit" value="Delete" />
                        </form>
                    }
                </div>
            </div>
        }

        @foreach (var profile in Model.Profiles)
        {
            <div class="flex justify-between my-3 mb-3 rounded-lg shadow-md">
                <div class="flex justify-items-center p-3">
                    <a class="w-12 h-12 rounded-full">
                        <img class="w-12 h-12 rounded-full" src="@profile.PictureUrl" alt="avatar" />
                    </a>
                    <div class="flex w-24 md:w-36 flex-col ml-3">
                        <div class="font-semibold">@profile.FirstName @profile.LastName</div>
                        <div class="font-light">Can Tho</div>
                    </div>
                </div>
                <div class="flex flex-col justify-center pr-3">
                    <form asp-controller="Friends" asp-action="AddFriend" method="post">
                        <input type="hidden" value="@profile.Id" name="UserId2" />
                        <input type="hidden" value="@Model.UserId" name="UserId1" />
                        <input type="hidden" value="2" name="AreFriend" />
                        <input class="btn" type="submit" value="Add Friend" />
                    </form>
                </div>
            </div>
        }

    </div>
    <div class="font-semibold mb-3">Posts</div>

    @foreach (var post in Model.Posts)
    {
        <div class="flex flex-col justify-center justify-items-center w-full bg-base-200 rounded-lg shadow-lg shadow-md mb-8">
            <div class="flex justify-items-center mx-3 mt-3 mb-1.5">
                <img class="w-10 h-10 rounded-full mr-3" src="https://th.bing.com/th/id/OIP.pqzQpx8Wg5fEHznAKKY6ugHaJ4?rs=1&pid=ImgDetMain" alt="Avatar" />
                <div class="flex flex-col justify-start justify-items-center">
                    <div class="font-semibold">Ten Nguoi A</div>
                    <div class="font-light text-sm">@post.UpdatedDate</div>
                </div>
            </div>
            <hr />
            <div class="mb-3 mt-1.5 mx-3">
                @post.Description
            </div>
            <div class="mx-2 mb-1.5 bg-base-300 rounded-lg">
                <div class="flex flex-col mb-3">
                    @if (post.Photos.FirstOrDefault() != null)
                    {
                        <button class="btn h-96 flex-row mb-3">
                            <img class="object-cover w-full h-96 rounded-lg" src="/@post.Photos.FirstOrDefault().Url" alt="post.png" />
                        </button>
                        <button class="btn flex-row" onclick="my_modal_2.showModal()">
                            <img class="object-cover rounded-lg" src="~/source/img/sign.png" alt="plus.png" />
                        </button>
                    } else if (post.Videos.FirstOrDefault() != null)
                    {
                        <video class="object-cover w-full h-96 rounded-lg" controls>
                            <source src="/@post.Videos.FirstOrDefault().Url" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <button class="btn flex-row" onclick="my_modal_2.showModal()">
                            <img class="object-cover rounded-lg" src="~/source/img/sign.png" alt="plus.png" />
                        </button>
                    }
                </div>
            </div>
            <hr />
            <div class="mt-1.5 mb-1.5 flex justify-around justify-items-center">
                <button class="btn">
                    <img width="24" height="24" alt="messenger.png" src="~/source/img/messenger.png" />
                    <div class="font-light">Message</div>
                </button>
                <button class="btn">
                    <img width="24" height="24" alt="messenger.png" src="~/source/img/send.png" />
                    <div class="font-light">share</div>
                </button>
            </div>
        </div>
    }
</main>